<div class="about_info_area">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-xl-6 col-lg-6">
                <div class="about_text">
                    <h3>A propos de nous</h3>
                    <p>Porquoi choisir INNOVAZING VISION ?<br />
                         <strong class="blue-text">Innovazing Vision</strong> se concentre sur le soutien à l’investissement dans l’économie réelle, en impliquant étroitement toutes les couches sociales (décideurs politiques et sociaux) dans l’amélioration des compétences et la création d’emplois verts qui permettent aux organisations et aux communautés de mieux se remettre, de s’adapter au changement climatique et de passer à une économie plus verte.</p>
                        <a href="{% url 'about' %}" class="boxed-btn3">Plus de details <span class="fa fa-arrow-circle-right"></span></a>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6">
                <div class="about_thumb">
                    <img src="static/img/service/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>