<div class="case_study_area">
    <div class="container">
        <div class="border_bottom">
                <div class="row">
                        <div class="col-xl-12">
                            <div class="section_title text-center mb-40">
                                <h3>Nos formations</h3>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="case_active owl-carousel">
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                    <a href="{% url 'formation' %}"><img src="static/img/case/1.jpg" alt=""></a>
                                                </div>
                                        <div class="case_heading">
                                            <span>Formation disponible</span>
                                            <h3><a href="{% url 'formation' %}">AGRI-Business</h3></a>
                                        </div>
                                    </div>
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                <a href="{% url 'formation' %}"><img src="static/img/case/3.jpg" alt=""></a>
                                                </div>
                                        <div class="case_heading">
                                                <span>Formation disponible</span>
                                                <h3><a href="{% url 'formation' %}">Trésorerie en langue maternel</a></h3>
                                        </div>
                                    </div>
                                    <div class="single_case">
                                            <div class="case_thumb">
                                                <a href="{% url 'formation' %}"><img src="static/img/case/2.jpg" alt=""></a>
                                                </div>
                                        <div class="case_heading">
                                                <span>Formation disponible</span>
                                                <h3><a href="{% url 'formation' %}">Anglais et en dignité humaine</a></h3>
                                        </div>
                                    </div>
                                    <!--<div class="single_case">
                                            <div class="case_thumb">
                                                    <img src="static/img/case/3.jpg" alt="">
                                                </div>
                                        <div class="case_heading">
                                                <span>Gestion de la tresorie( en langue maternel )</span>
                                                <h3><a href="#">Consumer Products Consulting</a></h3>
                                        </div>
                                    </div>-->
                            </div>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="more_close_btn text-center">
                                <a href="{% url 'formation' %}" class="boxed-btn3-line">En savoirs plus <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                        </div>
                    </div>
        </div>
    </div>
</div>