<div class="counter_area counter_bg_1 overlay_03">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="static/img/svg_icon/group.svg" alt="">
                    </div>
                    <h3> <span class="counter">8</span> <span> +</span> </h3>
                    <p>Membres et personnels engagées</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="static/img/svg_icon/cart.svg" alt="">
                    </div>
                    <h3> <span class="counter">55</span> <span>%</span> </h3>
                    <p>Taux de reussite pour les initiatives encompagnées</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="static/img/svg_icon/heart.svg" alt="">
                    </div>
                    <h3> <span class="counter">100</span><span>+</span></h3>
                    <p>Client satisfaits</p>
                </div>
            </div>
            <div class="col-xl-3 col-lg-3 col-md-3">
                <div class="single_counter text-center">
                    <div class="counter_icon">
                        <img src="static/img/svg_icon/respect.svg" alt="">
                    </div>
                    <h3> <span class="counter">28</span> </h3>
                    <p>Affaires conclus</p>
                </div>
            </div>
        </div>
    </div>
</div>