<footer class="footer">
    <div class="footer_top">
        <div class="container">
            <div class="row">
                <div class="col-xl-3 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <div class="footer_logo">
                            <a href="#">
                                <img src="static/img/logo.png" alt="">
                            </a>
                        </div>
                        <p>
                                <a href="#contact">innovizingvi@gmail.com</a> <br>
                                +243 892406798, +243 892406798 <br>
                                Commune de Goma, Nord kivu , RDCongo
                        </p>
                        <div class="socail_links">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="ti-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="ti-twitter-alt"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="fa fa-instagram"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-3">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                                Services
                        </h3>
                        <ul>
                            <li><a href="#prod">Productions</a></li>
                            <li><a href="#trans"> Transformation</a></li>
                            <li><a href="#dist">Distribution</a></li>
                            <li><a href="#form">Formation</a></li>
                            <li><a href="#cons">Consultance</a></li>
                        </ul>

                    </div>
                </div>
                <div class="col-xl-2 col-md-6 col-lg-2">
                    <div class="footer_widget">
                        <h3 class="footer_title">
                                Lien utiles
                        </h3>
                        <ul>
                            <li><a href="{% url 'about' %}">Apropos</a></li>
                            <li><a href="#">Condutions d'utilisation</a></li>
                            <li><a href="#contact">Nos Contact </a></li>
                            <li><a href="{% url 'formation' %}">Inscription a une formation</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                        <div class="footer_widget">
                                <h3 class="footer_title">
                                    Abonnez vous a notre newsletters
                                </h3>
                                <form action="#" class="newsletter_form">
                                    <input type="text" placeholder="Votre email">
                                    <button type="submit">S'abonner(indisponible actuellement</button>
                                </form>
                                <p class="newsletter_text">Camça vous recevez une notifications a chaque nouvelle publications sur ce site.</p>
                            </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copy-right_text">
        <div class="container">
            <div class="footer_border"></div>
            <div class="row">
                <div class="col-xl-12">
                    <p class="copy_right text-center">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> www.innovizingvi.com Tous droit reservee| templates realiser avec <i class="fa fa-heart-o" aria-hidden="true"></i> par <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </div>
</footer>