<div class="contact_form_quote">
    <div class="container">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="form_wrap">
                        <h3>Nous laisse un message</h3>
                        <form action="#">
                            <input type="text" placeholder="Votre nom" >
                            <input type="email" placeholder="Adresse Email" >
                            <textarea name="#" id="" cols="30" rows="10" placeholder="Message" ></textarea>
                            <button class="boxed-btn3">Envoyer</button>
                        </form>
                </div>
            </div>
            <div class="col-xl-6 offset-xl-1 col-lg-6">
                <div class="contact_thumb">
                    <img src="static/img/banner/contact_thumb.jpg" alt="">
                </div>
            </div>
        </div>
    </div>
</div>