<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center header_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>A propos de nous</h3>
                        </div>


                            <!--<div class="video_service_btn">
                                <a href="#" class="boxed-btn3">promotion des produits <span class="fa fa-arrow-circle-right"></span></a>
                            </div>-->
                        
                    </div>
                </div>
            </div>
        </div>
        
       
       
    </div>
</div>