<!-- header-start -->
<header>
    <div class="header-area ">
        <div class="header-top_area d-lg-block">
            <div class="container">
                <div class="row">
                    <div class="col-xl-4 col-md-5 ">
                        <div class="header_left">
                            <p>Bienvenue sur innovazing vision </p>
                        </div>
                    </div>
                    <div class="col-xl-8 col-md-7">
                        <div class="header_right d-flex">
                                <div class="short_contact_list">
                                        <ul>
                                            <li><a href="#"> <i class="fa fa-envelope"></i> innovazingvi@gmail.com</a></li>
                                            <li><a href="#"> <i class="fa fa-phone"></i> +243 892406798, +243 892406798</a></li>
                                            
                                            
                                        </ul>
                                    </div>
                                    <div class="social_media_links">
                                        <!--<a href="#">
                                            <i class="fa fa-linkedin"></i>
                                        </a>-->
                                        <!--<a href="#">
                                            <i class="fa fa-facebook"> Pages</i>
                                        </a>-->
                                        <!--<a href="#">
                                            <i class="fa fa-google-plus">Voir en</i>
                                        </a>-->
                                        
                                        <a href="#">
                                            <i>Français</i>
                                        </a>
                                        <a href="#">
                                            <i>|</i>
                                        </a>
                                        <a href="#">
                                            <i>Anglais</i>
                                        </a>
                                    </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header-area">
            <div class="container">
                <div class="header_bottom_border">
                    <div class="row align-items-center">
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="{% url 'home' %}">
                                    <img src="static/img/logo.png" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-xl-8 col-lg-7">
                            <div class="main-menu  d-none d-lg-block">
                                <!--nav block-->
                                {% include '_nav.html' %}
                                <!--/nav-->
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-3 d-none d-lg-block">
                            <div class="Appointment">
                                <div class="book_btn d-none d-lg-block">
                                    <a  href="#">Connexion</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</header>
<!-- header-end -->