<div class="Information_area overlay" id="contact">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-xl-8">
                <div class="info_text text-center">
                    <h3>Pour d'amples informations a notre sujet</h3>
                    <p>contectez nous aux coordonées ci-desous</p>
                    <div class="card">
                        <div class="card-body">
                            <i class="fa fa-phone"></i>+243 892406798 <i class="fab fa-whatsapp"></i>+254 705324685<br />
                            <i class="fa fa-envelope"></i> innovazingvi@gmail.com
                        </div>
                      </div>
                
                </div>
            </div>
        </div>
    </div>
</div>