<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center slider_bg_1 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Une grande opportunite <br>
                                    pour la jeunesse</h3>
                            <div class="video_service_btn">
                                <a href="{% url 'services' %}" class="boxed-btn3">promotion des produits <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Accompagnement <br>
                                    de potentiels entrepreneurs</h3>
                            <div class="video_service_btn">
                                <a href="{% url 'formation' %}" class="boxed-btn3">Nos formations <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="single_slider  d-flex align-items-center slider_bg_3 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Gestion de<br>
                                    trésorerie</h3>
                            <div class="video_service_btn">
                                <a href="{% url 'formation' %}" class="boxed-btn3">En savoir plus <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single_slider  d-flex align-items-center slider_bg_4 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Formation en anglais et<br>
                                    en dignité humaine</h3>
                            <div class="video_service_btn">
                                <a href="{% url 'formation' %}" class="boxed-btn3">En savoir plus <span class="fa fa-arrow-circle-right"></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--<div class="single_slider  d-flex align-items-center slider_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Big Opportunity <br>
                                    for your Business</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <!--<div class="single_slider  d-flex align-items-center slider_bg_3 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Big Opportunity <br>
                                    for your Business</h3>
                            <div class="video_service_btn">
                                <a href="#" class="boxed-btn3">Our Services</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
    </div>
</div>