<div class="service_area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="section_title text-center mb-50">
                    <h3>Produits et services</h3>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-xl-4 col-md-6 col-lg-4" id="prod">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/2.svg" alt="">
                    </div>
                    <h3>Production</h3>
                    <p>Nous appuyons la promotion de l'industrie verte par des activités qui fournissent des produits ou des services générant un bénefice sociale et environnemental</p>
                    <a href="{% url 'project' %}" class="learn_more">Plus de details</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-lg-4" id="trans">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/1.svg" alt="">
                    </div>
                    <h3>Transformation</h3>
                    <p>Nous appuyons la mise en valuer de nos productions pour integrer les chaines de valeur mondiales </p>
                    <a href="{% url 'services' %}" class="learn_more">Plus de details</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-lg-4" id="dis">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/4.svg" alt="">
                    </div>
                    <h3>Distribution</h3>
                    <p>Nous signons des protocoles de collaboration avec différentes sociétés qui appuidans la promotion de l'économie verte.</p>
                    <a href="{% url 'services' %}" class="learn_more">Plus de details</a>
                </div>
            </div>

            <div class="col-xl-4 col-md-6 col-lg-4" id="form">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/6.svg" alt="">
                    </div>
                    <h3>Formation </h3>
                    <p>Nous organisons des ventes indirectes de bétails produits localement et d'intrants agricoles à travers l'organisation d'ateliers de profilage avec comme finalité de constituer une base de donnée d'expertises numérique pour les producteurs agricole(e-Compétences et e-Alphabetisation).</p>
                    <a href="{% url 'formation' %}" class="learn_more">Plus de details</a>
                </div>
            </div>
            
            <div class="col-xl-4 col-md-6 col-lg-4" id="cons">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/3.svg" alt="">
                    </div>
                    <h3>Consultance</h3>
                    <p>Nous effectuqons des sous traitence et le courtage des services pour le compte des clients ( Entreprises, prestataires,ONG ...) se trouvant en RDC et ailleurs.</p>
                    <a href="#contact" class="learn_more">Plus de details</a>
                </div>
            </div>
            
            
            <!--<div class="col-xl-4 col-md-6 col-lg-4">
                <div class="single_service text-center">
                    <div class="service_icon">
                        <img src="static/img/svg_icon/5.svg" alt="">
                    </div>
                    <h3>Food & Restaurant</h3>
                    <p>Esteem spirit temper too say adieus who direct esteem.</p>
                    <a href="#" class="learn_more">Learn More</a>
                </div>
            </div>-->
            
        </div>
    </div>
</div>