{% extends 'base.html' %}
    

{% block title %}
<title>Apropos de nous</title>
{% endblock %}





{% block content %}



{% include '_headblock.html' %}

<!-- Card -->
<div class="card card-cascade wider reverse">

    <!-- Card image -->
    <!--<div class="view view-cascade overlay">
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Slides/img%20(70).jpg"
        alt="Card image cap">
      <a href="#!">
        <div class="mask rgba-white-slight"></div>
      </a>
    </div>-->
  
    <!-- Card content -->
    <div class="card-body card-body-cascade text-center">
        <div class="row">
            <div class="col-12 col-xl-4 mt-50">
                <!-- Title -->
            <h1 class="card-title"><strong>Qui <br/>sommes nous</strong></h1>
      <!-- Subtitle -->
            <h6 class="font-weight-bold indigo-text py-2">Pourquoi choisir <br/>innovizing vision ?</h6>
      <!-- Text -->
      
            </div>
        
  
      <div class="col-12 col-xl-7">
        <p class="card-text text-left">Innovazing vision est une Société à Responsabilité Limitée (SARL) régie par les statuts découlant des législations nationales et des Actes Uniformes du Traite de l'Organisation pour Harmonisation du Droit des Affaires en Afrique (OHADA). Elle est opérationnelle depuis 2020, avec comme siège sociale l’agglomération de Musienne et le siège d’exploitation la ville de Butembo, province du Nord-Kivu en République Démocratique du Congo.<br/><br/>
            <strong class="font-weight-bolder">Innovazing Vision a pour mission</strong> d'impliquer étroitement toutes les couches sociales (décideurs politiques et sociaux) dans l’amélioration des compétences et la création d’emplois verts qui permettent aux organisations et aux communautés de mieux se remettre, de s’adapter au changement climatique et de passer à une économie plus verte.
          <br/><br/>Sa vision consiste à promouvoir l'éducation, la santé, la nutrition et la sécurité alimentaire à travers l’exploitation durable des ressources naturelles en mettant en évidence l’évolution structurelle de l’économie (de la transition numérique vers une économie neutre en carbone) et du marché de travail.
          <br/><br/>Son but est d’aider les acteurs de développement (social et politique) à anticiper les changements et à préparer les marchés du travail et les lieux du travail à y faire face à travers les prestations innovantes et inclusives.
          <br/><br/>D’une manière générale, Innovazing Vision est guidée par les valeurs telles que : «  l’innovation, la créativité, l’intégrité, l’excellence,…».
          <br/><br/>NOTRE VALEUR UNIQUE<br/>

          Innovazing Vision est une entreprise spécialisée dans la gestion, suivi et évaluation environnementale et dans l'assainisement de l'environement; dans la gestion des projets de développement et
          dans la gestion durable des ressources naturelles.
          
            
          </p>
      </div>
    </div>
      
  
     
  
    </div>
  
  </div>
  <!-- Card -->

    <!-- footer start -->
    {% include '_footer.html' %}
    <!--/ footer end  -->
    
    <!-- link that opens popup -->
    {% endblock %}
