{% extends 'base.html' %}
    

{% block title %}
<title>Participer a une formation|innovazingvi</title>
{% endblock %}
{% block content %}

<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center header_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Inscrivez vous a nos <br/>
                            Programmes de formations</bf></h3>
                        </div>


                            <!--<div class="video_service_btn">
                                <a href="#" class="boxed-btn3">promotion des produits <span class="fa fa-arrow-circle-right"></span></a>
                            </div>-->
                        
                    </div>
                </div>
            </div>
        </div>
        
       
       
    </div>
</div>
<!--after carousel block-->
<div class="container mt-30">
  <div class="row">
    <ul class="list-group col-12 col-xl-4 col-md-6 mt-30">
      <li class="list-group-item active">
        <div class="row">
          <div class="col-3"><i class="fas fa-atlas fa-3x"></i></div>
          <div class="col-9">
            Formation AGRI-Business
          </div>
        </div>
        </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="far fa-clock"></i> Duree de la formation :</div>
          <div class="col-4">3 mois</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-home"></i> Lieu de la formation :</div>
          <div class="col-4">nos locaux</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-user-circle"></i> Formateur :</div>
          <div class="col-4">Gelance M</div>
        </div>
      </li>
      <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">S'inscrire a cette formation <i class="fa fa-arrow-circle-right"></i> </a></li>
    </ul>

    <!--format-->
    <ul class="list-group col-12 col-xl-4 col-md-6 mt-30">
      <li class="list-group-item active">
        <div class="row">
          <div class="col-3"><i class="fas fa-atlas fa-3x"></i></div>
          <div class="col-9">
            Formation Anglais et en dignite humaine
          </div>
        </div>
        </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="far fa-clock"></i> Duree de la formation :</div>
          <div class="col-4">3 mois</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-home"></i> Lieu de la formation :</div>
          <div class="col-4">nos locaux</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-user-circle"></i> Formateur :</div>
          <div class="col-4">Gelance M</div>
        </div>
      </li>
      <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">S'inscrire a cette formation <i class="fa fa-arrow-circle-right"></i> </a></li>
    </ul>

    <!--format-->

    <ul class="list-group col-12 col-xl-4 col-md-6 mt-30">
      <li class="list-group-item active">
        <div class="row">
          <div class="col-3"><i class="fas fa-atlas fa-3x"></i></div>
          <div class="col-9">
            Formation Tresorerie en langue maternel 
          </div>
        </div>
        </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="far fa-clock"></i> Duree de la formation :</div>
          <div class="col-4">3 mois</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-home"></i> Lieu de la formation :</div>
          <div class="col-4">nos locaux</div>
        </div>
      </li>
      <li class="list-group-item">
        <div class="row">
          <div class="col-8"><i class="fas fa-user-circle"></i> Formateur :</div>
          <div class="col-4">Gelance M</div>
        </div>
      </li>
      <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">S'inscrire a cette formation <i class="fa fa-arrow-circle-right"></i> </a></li>
    </ul>
  </div>
</div>


<!--/after-carousel-->

    <!-- footer start -->
    {% include '_footer.html' %}
    <!--/ footer end  -->
    
    <!-- link that opens popup -->
    {% endblock %}
