{% extends 'base.html' %}
    

{% block title %}
<title>Nos produits et services</title>
{% endblock %}
{% block content %}

<!--banner-->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center header_bg_2 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Projets et partenariats</bf></h3>
                            <p>Consultez la liste de nos projets, et la liste de nos partenaires de confiance</p>
                        </div>


                            <!--<div class="video_service_btn">
                                <a href="#" class="boxed-btn3">promotion des produits <span class="fa fa-arrow-circle-right"></span></a>
                            </div>-->
                        
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<!--/banner-->
<!--produit-->
<div class="container">
  <div class="row mt-30">
    <div class="col-8">
      <h2>Notre liste des projets</h2>
      <div class="row">
        <div class="col-6">
          <ul class="list-group col-12">
            <li class="list-group-item text-center active">
              
              RECONVERSION SOCIO-ECONOMIQUE INCLUSIVE
                
              </li>
            <li class="list-group-item">
              Ce projet encadre les jeunes élèves et étudiants  du dégrée terminal et les femmes micro-entrepreneurs(vendeuse de vivres dans des petits marchés) en accordant un crédit en nature (intrants agricoles et géniteurs des bétails) ou en argent (à faible taux d'intérêt 2%) après une formation adéquate. Elle organise des ateliers de formation de profilage des micro-entrepreneurs potentiels pour promouvoir l'éducation, la santé, la nutrition et la sécurité alimentaire.
            </li>
            <li class="list-group-item">
              <!--slider-->
              
              <div class="progress md-progress">
                
                <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                
                </div>
              </div>
            
            
              <!--/slider-->
            </li>
            <li class="list-group-item">
              Etat du projet : <i style="color:blue"><strong>En cours</strong></i>
            </li>
            
          </ul>
        </div>
        <div class="col-6">
          <img src="static/img/service/prod3.jpg" class="col-12" alt="">
          <img src="static/img/service/prod4.jpg" class="col-12 mt-30" alt="">
        </div>
      </div>

      <div class="row mt-30">
        <div class="col-6">
          <ul class="list-group col-12">
            <li class="list-group-item text-center active">
              
                  ENTREPRENARIAT CLE DE L'EMERGENCE INDIVIDUEL ET COLLECTIVE 2019-2020
                
              </li>
            <li class="list-group-item">
              <p class="col-12 text-center">ETAPES MAJEURS ET IMPACTS EN JOUR</p>
            - Nous avons déjà organisé 3 ateliers de formation pour 18 jeunes parents et mères analphabètes (âgées de 25 ans minimum) et les avons soutenus chacun avec 10 $ (l'équivalent de leurs capitaux), qu'ils remboursent par tranches (pendant 4 mois). 
            <br/>- Nous avons fait une vente indirecte en accordant à 20 jeunes étudiants de la Faculté des Sciences Agricoles et de la Biodiversité de l'Université des Pays du Grand Lac de Butembo, 9 géniteurs de porcs et 150 kg de semences (maïs, pommes de terre, soja).
            <br/>- Nous avons acquis un terrain de 25x50m ou nous allons effectuer la reproduction des géniteurs et intrants agricoles (maïs, pommes de terre, soja).


            </li>
            <li class="list-group-item">
              <!--slider-->
              
              <div class="progress md-progress">
                
                <div class="progress-bar" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">
                
                </div>
              </div>
            
            
              <!--/slider-->
            </li>
            <li class="list-group-item">
              Etat du projet : <i style="color:blue"><strong>Achevé</strong></i>
            </li>
            
          </ul>
        </div>
        <div class="col-6">
          <img src="static/img/service/prod5.jpg" class="col-12" alt="">
          <img src="static/img/service/prod6.jpg" class="col-12 mt-20" alt="">
        </div>
      </div>

      <div class="row mt-30">
        <div class="col-6">
          <ul class="list-group col-12">
            <li class="list-group-item text-center active">
              
                  RECYCLAGE DE DECHETS  BIO-DEGRADABLES ET NON-DEGRADABLES AU NORD-KIVU
                
              </li>
            <li class="list-group-item">

Le projet vise des résultats tangibles pour la population cible:<br/> 
-Réduire le volume des érosions et les odeurs sur les rues qui sont causés par les déchets non biodégradables,<br/>
-création d’environ 100 emplois,<br/>
-formation et équipement avec un kit de démarrage de 1200 jeunes en des jeunes marketeurs pour leur offrir un avenir meilleur;
<br/>
L’aspect innovant consiste à installer une unité de recyclage des déchets biodégradables à travers la production de la pâte en papier (papier usés et coupeaux des bois, …), en passant par la production des papiers hygiénique avec une activité transversale de la production des sacs en papiers selon la préférence de la population.  
            </li>
            <li class="list-group-item">
              <!--slider-->
              
              <div class="progress md-progress">
                
                <div class="progress-bar" role="progressbar" style="width: 0%" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">
                
                </div>
              </div>
            
            
              <!--/slider-->
            </li>
            <li class="list-group-item">
              Etat du projet : <i style="color:blue"><strong>A venir</strong></i>
            </li>
            
          </ul>
        </div>
        <div class="col-6">
          <img src="static/img/service/prod7.jpg" class="col-12" alt="">
          <img src="static/img/service/prod8.jpg" class="col-12" alt="">
        </div>
      </div>

      
      
    </div>

    <div class="col-4">
      <h3>Nos partenaires</h3>
      <div class="row">
        <div class="col-6 mt-30">
          <a href="https://solidaf.org/"><img src="static/img/logo8.png" class="col-12" alt=""></a>
        </div>

        <div class="col-6 mt-30">
          <a href="https://www.wya.net/programs/ctp/"><img src="static/img/logo9.png" class="col-12" alt=""></a>
        </div>
        <div class="col-6 mt-30">
          <a href="https://youth20.org/siw/capacity-building-programme">
            <img src="static/img/logo10.png" class="col-12" alt="">
          </a>
        </div>

        <div class="col-6 mt-30">
          <a href="https://vc4a.com/programs/"><img src="static/img/logo12.svg" class="col-12" alt=""></a>
          <a href="https://gust.com/founders/raise"><img src="static/img/logo13.png" class="col-12" alt=""></a>
        </div>
        
      </div>
    </div>
  </div>
</div>

  

    <!-- footer start -->
    {% include '_footer.html' %}
    <!--/ footer end  -->
    
    <!-- link that opens popup -->
    {% endblock %}
