{% extends 'base.html' %}
    

{% block title %}
<title>Nos produits et services</title>
{% endblock %}
{% block content %}

<!--banner-->
<div class="slider_area">
    <div class="slider_active owl-carousel">
        <div class="single_slider  d-flex align-items-center header_bg_3 overlay2">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="slider_text ">
                            <h3>Nos produits et <br/>
                            Services</bf></h3>
                            <p>Consultez le catalogue des produit en vente sur innovizingvi</p>
                        </div>


                            <!--<div class="video_service_btn">
                                <a href="#" class="boxed-btn3">promotion des produits <span class="fa fa-arrow-circle-right"></span></a>
                            </div>-->
                        
                    </div>
                </div>
            </div>
        </div>  
    </div>
</div>
<!--/banner-->
<!--produit-->
<div class="container">
  <div class="row mt-30">
    <div class="col-12 col-xl-8 col-md-12 col-lg-8">
      <h2>Nos produits</h2>
      <div class="row">
        <div class="col-12 col-xl-6 col-md-6 col-lg-6">
          <ul class="list-group col-12">
            <li class="list-group-item active">
              
                  GRANDHUMIVET "The Best Animal Health Routine Supplement"
                
              </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="far fa-clock"></i> En Stock :</div>
                <div class="col-4"> 50 sachets de 100g</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="fas fa-home"></i> Prix par sachet :</div>
                <div class="col-4">25$</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="fas fa-user-circle"></i> Points de vente :</div>
                <div class="col-4">Nos locaux</div>
              </div>
            </li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">Achetter ce produit <i class="fa fa-arrow-circle-right"></i> </a></li>
          </ul>
        </div>
        <div class="col-12 col-xl-6 col-md-6 col-lg-6 mt-10">
          <img src="static/img/service/prod9.jpg" class="col-12" alt="">
        </div>
      </div>

      <div class="row mt-30">
        <div class="col-12 col-xl-6 col-md-6 col-lg-6">
          <ul class="list-group col-12">
            <li class="list-group-item active">
              
                  RED GRAND HUMUS PLUS! 
                
              </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="far fa-clock"></i> En Stock :</div>
                <div class="col-4"> 50 sachets de 100kg</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="fas fa-home"></i> Prix par sachet :</div>
                <div class="col-4">25$</div>
              </div>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8"><i class="fas fa-user-circle"></i> Points de vente :</div>
                <div class="col-4">Nos locaux</div>
              </div>
            </li>
            <li class="list-group-item"><a href="#" class="btn btn-primary btn-sm">Achetter ce produit <i class="fa fa-arrow-circle-right"></i> </a></li>
          </ul>
        </div>
        <div class="col-12 col-xl-6 col-md-6 col-lg-6 mt-10">
          <img src="static/img/service/prod10.jpg" class="col-12" alt="">
        </div>
      </div>



      
    </div>

    <div class="col-12 col-xl-4 col-md-12 col-lg-4">
      <h3>Nos services</h3>
      <div class="row">
        <div class="col-12">
          <ul class="list-group col-12">
            <li class="list-group-item">
              
                  Promotion des produits
               
              </li>
            <li class="list-group-item">
              Transformation des produits
            </li>
            <li class="list-group-item">
             Services de distribution
            </li>
            <li class="list-group-item">
              Des formations en AGR
            </li>
            <li class="list-group-item">
              Services de consultance
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

  

    <!-- footer start -->
    {% include '_footer.html' %}
    <!--/ footer end  -->
    
    <!-- link that opens popup -->
    {% endblock %}
